*{
    margin: 0;
    padding: 0;
}
.karobka_1{
    width: 100vw;
    height: 86vh;
    background-color: white;
}
.main{
    width: 100vw;
    height: 20vh;
}
#box_1{
    width: 200px;
    height: 200px;
    position: absolute;
}
#box_2{
    position: absolute;
    right: 0;
}
.yozuv1{
    position: absolute;
    margin-left: 14%;
    margin-top: 2%;
    color: blue;
}
.yozuv_2{
    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
    color: blue;
}
.yozuv_3{
    position: absolute;
    margin-left: 35%;
    margin-top: 2%;
    color: blue;
}
#box_3{
    position: absolute;
    margin-left: 72%;
    margin-top: 2%;
}
.yozuv_4{
    position: absolute;
    margin-left: 77%;
    margin-top: 2.5%;
    color: blue;
}
#box_4{
    position: absolute;
    margin-top: 13%;
    margin-left: 20%;
}
#box_5{
    position: absolute;
    margin-left: 25%;
    margin-top: 5%;
}
#box_6{
    position: absolute;
    margin-top: 19%;
    margin-left: 5%;
}
#rasm{
    position: absolute;
    margin-left: 65%;
    margin-top: 15%;
}
#box_7{
    position: absolute;
    margin-left: 85%;
    margin-top: 10%;
}
#box_8{
    position: absolute;
    margin-left: 83%;
    margin-top: 26%;
}
#box_9{
    position: absolute;
    margin-left: 8%;
    margin-top: 35%;
}
#box_10{
    position: absolute;
    margin-left: 25%;
    margin-top: 35%;
}
.yozuv_5{
    position: absolute;
    margin-left: 48%;
    margin-top: 33%;
    font-size: 20pt;
    color: blue;
}
.yozuv_6{
    position: absolute;
    margin-left: 48%;
    margin-top: 37%;
    color: blue;
}
.yozuv_7{
    position: absolute;
    margin-left: 48%;
    margin-top: 38%;
    color: blue;
}
.karobka_2{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
#box_11{
    position: absolute;
    margin-left: 83%;
}
#box_12{
    position: absolute;
    margin-left: 50%;
}
#box_13{
    position: absolute; 
}
#rasm_2{
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
}
.yozuv_8{
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
    font-size: 20pt;
    color: blue;
}
.yozuv_9{
    position: absolute;
    margin-left: 40%;
    margin-top: 17%;
    font-size: 20pt;
    color: blue;
}
.yozuv_10{
    position: absolute;
    margin-left: 40%;
    margin-top: 19%;
    font-size: 20pt;
    color: blue;
}
.yozuv_11{
    position: absolute;
    margin-left: 40%;
    margin-top: 23%;
    color: aqua;
}
.yozuv_12{
    position: absolute;
    margin-left: 40%;
    margin-top: 24.5%;
    color: aqua;
}
.yozuv_13{
    position: absolute;
    margin-left: 40%;
    margin-top: 26%;
    color: aqua;
}
.yozuv_14{
    position: absolute;
    margin-left: 40%;
    margin-top: 27.5%;
    color: aqua;
}
.yozuv_15{
    position: absolute;
    margin-left: 40%;
    margin-top: 31%;
    color: blue;
}
#box_18{
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
}
#box_19{
    position: absolute;
    margin-left: 71.7%;
    margin-top: 26.3%;
}
#box_20{
    position: absolute;
    margin-left: 78.2%;
    margin-top: 29.5%;
}
#text_1{
    position: absolute;
    margin-top: 35%;
    margin-left: 20%;
}
#text_2{
    position: absolute;
    margin-top: 25%;
}
#text_3{
    position: absolute;
    margin-left: 60%;
    margin-top: 20%;
}
#text_4{
    position: absolute;
    margin-left: 85%;
    margin-top: 35%;
}
#text_5{
    position: absolute;
    margin-left: 55%;
    margin-top: 35%;
}
.yozuv_16{
    position: absolute;
    margin-top: 46%;
    margin-left: 40%;
    font-size: 25pt;
    color: blue;
}
.karobka_3{
    width: 100vw;
    height: 80vh;
    background-color: white;
}
.menu_1{
    position: absolute;
    margin-top: 5%;
    margin-left: 9%;
    color: blue;
    font-size: 15pt;
}
.menu_2{
    position: absolute;
    margin-left: 21%;
    margin-top: 5%;
    color: blue;
    font-size: 15pt;
}
.menu_3{
    position: absolute;
    margin-left: 32%;
    margin-top: 5%;
    color: blue;
    font-size: 15pt;
}
.menu_4{
    position: absolute;
    margin-left: 46%;
    margin-top: 5%;
    color: blue;
    font-size: 15pt;
}
.menu_5{
    position: absolute;
    margin-left: 57%;
    margin-top: 5%;
    color: blue;
    font-size: 15pt;
}
.menu_6{
    position: absolute;
    margin-left: 70%;
    margin-top: 5%;
    color: blue;
    font-size: 15pt;
}
.menu_7{
    position: absolute;
    margin-left: 80%;
    margin-top: 5%;
    color: blue;
    font-size: 15pt;
}
._1{
    position: absolute;
    margin-left: 8%;
    margin-top: 7%;
    color: blue;
}
._2{
    position: absolute;
    margin-top: 9%;
    margin-left: 8.5%;
    color: blue;
}
._3{
    position: absolute;
    margin-top: 7%;
    margin-left: 21%;
    color: blue;
}
._4{
    position: absolute;
    margin-left: 22.5%;
    margin-top: 9%;
    color: blue;
}
._5{
    position: absolute;
    margin-left: 21%;
    margin-top: 11%;
    color: blue;
}
._6{
    position: absolute;
    margin-left: 20.5%;
    margin-top: 13%;
    color: blue;
}
._7{
    position: absolute;
    margin-left: 34.5%;
    margin-top: 7%;
    color: blue;
}
._8{
    position: absolute;
    margin-left: 33.5%;
    margin-top: 9%;
    color: blue;
}
._9{
    position: absolute;
    margin-left: 35%;
    margin-top: 11%;
    color: blue;
}
._10{
    position: absolute;
    margin-left: 46%;
    margin-top: 7%;
    color: blue;
}
._11{
    position: absolute;
    margin-left: 45.3%;
    margin-top: 9%;
    color: blue;
}
._12{
    position: absolute;
    margin-left: 45%;
    margin-top: 11%;
    color: blue;
}
._13{
    position: absolute;
    margin-left: 45.5%;
    margin-top: 13%;
    color: blue;
}
._14{
    position: absolute;
    margin-left: 58%;
    margin-top: 7%;
    color: blue;
}
._15{
    position: absolute;
    margin-left: 56%;
    margin-top: 9%;
    color: blue;
}
._16{
    position: absolute;
    margin-left: 71%;
    margin-top: 7%;
    color: blue;
}
._17{
    position: absolute;
    margin-left: 70%;
    margin-top: 9%;
    color: blue;
}
._18{
    position: absolute;
    margin-left: 80%;
    margin-top: 7%;
    font-size: 15pt;
    color: blue;
}
#rasm_3{
    position: absolute;
    margin-top: 14%;
    margin-left: 40%;
}
#text_6{
    position: absolute;
    margin-top: 22%;
    margin-left: 61%;
}
.r_yozuv1{
    position: absolute;
    font-size: 20pt;
    margin-top: 21%;
    margin-left: 20%;
    color: blue;
}
.r_yozuv2{
    position: absolute;
    margin-top: 25%;
    margin-left: 20%;
    color: blue;
}
.r_yozuv3{
    position: absolute;
    margin-top: 27%;
    margin-left: 20%;
    color: blue;
}
.r_yozuv4{
    position: absolute;
    margin-left: 20%;
    margin-top: 29%;
    color: blue;
}
#text_7{
    position: absolute;
    margin-left: 20%;
    margin-top: 33%;
}
.r_yozuv5{
    position: absolute;
    margin-left: 24%;
    margin-top: 33.9%;
    color: blue;
}
#text_8{
    position: absolute;
    margin-left: 13%;
    margin-top: 7%;
}
#text_9{
    position: absolute;
    margin-left: 33%;
    margin-top: 10%;
}
#text_10{
    position: absolute;
    margin-left: 82%;
    margin-top: 6%;
}
#text_11{
    position: absolute;
    margin-left: 62%;
    margin-top: 8%;
}
#text_12{
    position: absolute;
    margin-left: 55%;
    margin-top: 12%;
}
#text_13{
    position: absolute;
    margin-left: 80%;
    margin-top: 22%;
}
#text_14{
    position: absolute;
    margin-left: 60%;
    margin-top: 33%;
}
#text_15{
    position: absolute;
    margin-top: 20%;
}
#text_16{
    position: absolute;
    margin-left: 53%;
    margin-top: 19%;
}
.karobka_4{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
#text_17{
    position: absolute;
    margin-left: 60%;
}
#text_18{
    position: absolute;
    margin-left: 20%;
    margin-top: -5%;
}
#rasm_4{
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
}
.r_yozuv6{
    position: absolute;
    font-size: 25pt;
    margin-left: 55%;
    margin-top: 7%;
    color: blue;
}
#text_19{
    position: absolute;
    margin-left: 54%;
    margin-top: 12%;
    color: blue;
}
#text_20{
    position: absolute;
    margin-left: 60%;
    margin-top: 22%;
    color: blue;
}
#text_21{
    position: absolute;
    margin-left: 54%;
    margin-top: 32%;
    color: blue;
}
.r_yozuv7{
    position: absolute;
    margin-left: 62%;
    margin-top: 13%;
    color: blue;
}
.r_yozuv8{
    position: absolute;
    margin-left: 62%;
    margin-top: 15%;
    color: blue;
}
.r_yozuv9{
    position: absolute;
    margin-left: 62%;
    margin-top: 17%;
    color: blue;
}
.r_yozuv10{
    position: absolute;
    margin-left: 72%;
    margin-top: 25%;
    color: blue;
}
.r_yozuv11{
    position: absolute;
    margin-left: 72%;
    margin-top: 27%;
    color: blue;
}
.r_yozuv12{
    position: absolute;
    margin-left: 63%;
    margin-top: 36%;
    color: blue;
}
.r_yozuv13{
    position: absolute;
    margin-left: 63%;
    margin-top: 38%;
    color: blue;
}
#img_1{
    position: absolute;
    margin-top: 17%;
    margin-left: 37%;
}
#img_2{
    position: absolute;
    margin-left: 80%;
    margin-top: 13%;
}
#img_3{
    position: absolute;
    margin-left: 75%;
    margin-top: -2%;
}
#img_4{
    position: absolute;
    margin-left: 7%;
    margin-top: 15%;
}
#img_5{
    position: absolute;
    margin-top: 33%;
    margin-left: 3%;
}
#img_6{
    position: absolute;
    margin-top: 5%;
}
#img_7{
    position: absolute;
    margin-left: 54%;
    margin-top: 45%;
}
.r_yozuv14{
    position: absolute;
    margin-left: 57.5%;
    margin-top: 46%;
    color: blue;
}
#img_8{
    position: absolute;
    margin-left: 80%;
    margin-top: 30%;
}
.karobka_5{
    width: 100vw;
    height: 85vh;
    background-color: white;
}
#img_9{
    position: absolute;
    margin-left: 15%;
    margin-top: 3%;
}
#img_10{
    position: absolute;
    margin-left: 36%;
    margin-top: -7%;
}
.r_yozuv15{
    position: absolute;
    font-size: 25pt;
    margin-left: 42%;
    margin-top: 18%;
    color: blue;
}
#img_11{
    position: absolute;
    margin-left: 65%;
    margin-top: 29%;
    color: blue;
}
#img_12{
    position: absolute;
    margin-left: 45%;
    margin-top: 29%;
    color: blue;
}
#img_13{
    position: absolute;
    margin-left: 25%;
    margin-top: 29%;
    color: blue;
}
.r_yozuv16{
    position: absolute;
    margin-left: 24%;
    margin-top: 40%;
    color: blue;
}
.r_yozuv17{
    position: absolute;
    margin-left: 23%;
    margin-top: 42%;
    color: blue;
}
.r_yozuv18{
    position: absolute;
    margin-left: 24.5%;
    margin-top: 44%;
    color: blue;
}
.r_yozuv19{
    position: absolute;
    margin-left: 45%;
    margin-top: 40%;
    color: blue;
}
.r_yozuv20{
    position: absolute;
    margin-left: 65%;
    margin-top: 40%;
    color: blue;
}
.r_yozuv21{
    position: absolute;
    margin-left: 69%;
    margin-top: 42%;
    color: blue;
}
#img_14{
    position: absolute;
    margin-top: 14%;
    margin-left: 3%;
}
#img_15{
    position: absolute;
    margin-left: 53%;
    margin-top: 17%;
}
#img_16{
    position: absolute;
    margin-left: 80%;
    margin-top: 5%;
}
#img_17{
    position: absolute;
    margin-left: 13%;
    margin-top: 30%;
}
#img_18{
    position: absolute;
    margin-left: 80%;
    margin-top: 35%;
}
.karobka_6{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
#img_19{
    position: absolute;
    margin-left: 15%;
    margin-top: -2%;
}
#img_20{
    position: absolute;
    margin-left: 40%;
}
#img_21{
    position: absolute;
    margin-left: 80%;
    margin-top: -2%;
}
#rasm_5{
    position: absolute;
    margin-top: 13%;
    margin-left: 5%;
}
#img_22{
    position: absolute;
    margin-left: 23%;
    margin-top: 22%;
    color: aqua;
}
#img_23{
    position: absolute;
    margin-top: 20%;
}
#img_24{
    position: absolute;
    margin-left: 20%;
    margin-top: 40%;
}
.r_yozuv22{
    position: absolute;
    font-size: 25pt;
    color: blue;
    margin-left: 60%;
    margin-top: 18%;
}
#rasm_6{
    position: absolute;
    margin-left: 59.5%;
    margin-top: 25.9%;
}
#rasm_7{
    position: absolute;
    margin-left: 59%;
    margin-top: 24.5%;
}
.r_yozuv23{
    position: absolute;
    margin-left: 65%;
    margin-top: 25.5%;
}
.r_yozuv24{
    position: absolute;
    margin-left: 65%;
    margin-top: 27%;
}
#img_25{
    position: absolute;
    margin-left: 71%;
    margin-top: 27.2%;
}
.r_yozuv25{
    position: absolute;
    margin-left: 72.5%;
    margin-top: 27.2%;
    color: blue;
}
#img_26{
    position: absolute;
    margin-left: 75%;
    margin-top: 27.3%;
}
.r_yozuv26{
    position: absolute;
    margin-left: 76.5%;
    margin-top: 27.2%;
    color: blue;
}
.r_yozuv27{
    position: absolute;
    margin-left: 79%;
    margin-top: 27.2%;
    color: blue;
}
#img_27{
    position: absolute;
    margin-left: 79%;
    margin-top: 26%;
}
.r_yozuv28{
    position: absolute;
    margin-left: 83%;
    margin-top: 27.2%;
    color: blue;
}
#img_28{
    position: absolute;
    margin-left: 60%;
    margin-top: 33%;
}
#img_29{
    position: absolute;
    margin-left: 82%;
    margin-top: 20%;
}
#img_30{
    position: absolute;
    margin-left: 60%;
    margin-top: 43%;
}
.karobka_7{
    width: 100vw;
    height: 160vh;
    background-color: white;
}
.r_yozuv29{
    font-size: 30pt;
    color: blue;
    margin-left: 42%;
}
#png_1{
    position: absolute;
    margin-left: 13%;
    margin-top: 5%;
}
.r_yozuv30{
    position: absolute;
    font-size: 20pt;
    margin-left: 19%;
    margin-top: 9%;
    color: blue;
}
#png_2{
    position: absolute;
    margin-left: 17%;
    margin-top: 13%;
}
#rasm_8{
    position: absolute;
    margin-left: 53%;
    margin-top: 5%;
}
#rasm_9{
    position: absolute;
    margin-left: 13%;
    margin-top: 31%;
}
#rasm_10{
    position: absolute;
    margin-left: 45%;
    margin-top: 31%;
}
#png_3{
    position: absolute;
    margin-left: 78%;
    margin-top: -6%;
}
#png_4{
    position: absolute;
    margin-left: 85%;
    margin-top: 20%;
}
#png_5{
    position: absolute;
    margin-top: 15%;
}
#png_6{
    position: absolute;
    margin-top: 45%;
}
#png_7{
    position: absolute;
    margin-top: 63%;
}
.r_yozuv31{
    position: absolute;
    margin-left: 10%;
    margin-top: 65%;
    color: white;
}
.r_yozuv32{
    position: absolute;
    margin-left: 10%;
    margin-top: 67%;
    color: white;
}
.r_yozuv33{
    position: absolute;
    margin-left: 23%;
    margin-top: 65%;
    color: white;
}
.r_yozuv34{
    position: absolute;
    margin-left: 35%;
    margin-top: 65%;
    color: white;
}
.r_yozuv35{
    position: absolute;
    margin-left: 35%;
    margin-top: 67%;
    color: white;
}
.r_yozuv36{
    position: absolute;
    margin-left: 10%;
    margin-top: 71%;
    color: white;
}
.r_yozuv37{
    position: absolute;
    margin-left: 23%;
    margin-top: 67%;
    color: aqua;
}
.r_yozuv38{
    position: absolute;
    margin-left: 23%;
    margin-top: 69%;
    color: aqua;
}
.r_yozuv39{
    position: absolute;
    margin-left: 48%;
    margin-top: 65%;
    color: aqua;
}
.r_yozuv40{
    position: absolute;
    margin-left: 61%;
    margin-top: 65%;
    color: aqua;
}
.r_yozuv41{
    position: absolute;
    margin-left: 48%;
    margin-top: 67%;
    color: white;
}
#png_9{
    position: absolute;
    margin-left: 62%;
    margin-top: 67%;
}
#png_10{
    position: absolute;
    margin-left: 64%;
    margin-top: 67%;
}
#png_11{
    position: absolute;
    margin-left: 66%;
    margin-top: 67%;
}
#png_12{
    position: absolute;
    margin-left: 68%;
    margin-top: 67%;
}
#png_13{
    position: absolute;
    margin-left: 75%;
    margin-top: 66%;
}
#png_14{
    position: absolute;
    margin-left: 85%;
    margin-top: 66%;
}
#rasm_11{
    position: absolute;
    margin-left: 76%;
    margin-top: 66.3%;
}
.r_yozuv42{
    position: absolute;
    margin-left: 78%;
    margin-top: 66.5%;
    font-size: 10pt;
    color: aqua;
}
#png_15{
    position: absolute;
    margin-left: 85%;
    margin-top: 67%;
}
#beautiful{
   position: absolute;
   margin-left: 18%;
   margin-top: 13%; 
}
@media screen and (max-width:1990px) and (main-width:1700px){
    #png_1{
        margin-left: 23%;

    }
    .r_yozuv30{
        margin-left: 32%;
    }
    #png_2{
        margin-left: 25%;
    }
    #rasm_9{
        margin-left: 23%;
        margin-top: 24%;
    }
    #rasm_10{
        margin-left: 47.5%;
        margin-top: 24%;
    }
    #png_7{
        width: 100%;
    }
}